<section class="questions container container--sm">
  <h3 class="questions__heading heading">Частые вопросы</h3>
  <div class="questions__accordeon accordeon">
    <div class="accordeon__item item-accordeon">
      <button class="item-accordeon__top">
        <span class="item-accordeon__heading">
          <span>
            Зависит ли стоимость программного продукта от количества автоматизируемых рабочих мест?
          </span>
        </span>
        <span class="item-accordeon__icon"></span>
      </button>
      <div class="item-accordeon__bottom">
        <div class="item-accordeon__bottom-inner">
          <div class="item-accordeon__text">
            <p>
              Существует несколько вариантов реализации системы: это может быть как вариант
              размещения на сервере Вашей организации, так и вариант размещения системы в облачном
              сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon
              E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная
              система Linux или AstraLinux. Для работы клиентской части необходим любой браузер или
              мобильное приложение.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="accordeon__item item-accordeon">
      <button class="item-accordeon__top">
        <span class="item-accordeon__heading">
          <span>Как происходит процесс внедрения системы?</span>
        </span>
        <span class="item-accordeon__icon"></span>
      </button>
      <div class="item-accordeon__bottom">
        <div class="item-accordeon__bottom-inner">
          <div class="item-accordeon__text">
            <p>
              Существует несколько вариантов реализации системы: это может быть как вариант
              размещения на сервере Вашей организации, так и вариант размещения системы в облачном
              сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon
              E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная
              система Linux или AstraLinux. Для работы клиентской части необходим любой браузер или
              мобильное приложение.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="accordeon__item item-accordeon">
      <button class="item-accordeon__top">
        <span class="item-accordeon__heading">
          <span>
            Требуется ли приобретение квалифицированной ЭП для всех сотрудников нашей организации,
            если мы будем использовать СЭД?
          </span>
        </span>
        <span class="item-accordeon__icon"></span>
      </button>
      <div class="item-accordeon__bottom">
        <div class="item-accordeon__bottom-inner">
          <div class="item-accordeon__text">
            <p>
              Существует несколько вариантов реализации системы: это может быть как вариант
              размещения на сервере Вашей организации, так и вариант размещения системы в облачном
              сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon
              E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная
              система Linux или AstraLinux. Для работы клиентской части необходим любой браузер или
              мобильное приложение.
            </p>
            <p>
              Существует несколько вариантов реализации системы: это может быть как вариант
              размещения на сервере Вашей организации, так и вариант размещения системы в облачном
              сервисе. Рекомендуемые технические характеристики сервера: процессор Intel Xeon
              E3-1220 v6, оперативная память от 8 GB DDR4, жесткие диски от 2х500GB. Операционная
              система Linux или AstraLinux. Для работы клиентской части необходим любой браузер или
              мобильное приложение.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
