<header class="header lock-padding">
  <div class="header__content container">
    <div class="header__logo logo">
      <a href="/" class="logo__link">
        <div class="logo__img">
          <svg viewBox="0 0 120 33" fill="none">
            <path
              d="M15.9566 13.2137H7.54406V0.175903H0.124924V32.4393H7.54406V19.4429H15.9359L13.9388 16.349L15.9566 13.2137Z"
              fill-opacity="0.4"
            />
            <path d="M38.9073 32.4393V0.175903H31.4881V32.4393H38.9073Z" fill-opacity="0.4" />
            <path d="M53.3523 0.175903V32.4393H60.7301V0.175903H53.3523Z" fill-opacity="0.4" />
            <path
              d="M73.2506 16.349L83.7119 0.175903H92.0933L81.6838 16.349L92.0933 32.4393H83.6084L73.2506 16.349Z"
              fill-opacity="0.4"
            />
            <path d="M39.9731 32.4393H31.4881L52.359 0.175903H60.7301L39.9731 32.4393Z" />
            <path
              d="M10.5345 16.349L20.9958 0.175903H29.3669L18.9573 16.349L29.3669 32.4393H27.2457H25.1244H23.0032H20.882L10.5345 16.349Z"
            />
            <path
              d="M81.6837 16.349L71.2224 0.175903H62.8513L73.2505 16.349L62.8513 32.4393H64.9726H67.0938H69.2047H71.3259L81.6837 16.349Z"
            />
            <path
              d="M105.617 0C102.906 0 100.827 1.69699 100.351 4.17003H98.9847V0.175907H96.6462V10.3371H98.9847V6.19814H100.32C100.744 8.74362 102.865 10.513 105.617 10.513C108.711 10.513 110.988 8.28833 110.988 5.25652C110.988 2.22471 108.711 0 105.617 0ZM105.617 8.50563C103.931 8.50563 102.627 7.20184 102.627 5.25652C102.627 3.31119 103.931 2.00741 105.617 2.00741C107.304 2.00741 108.608 3.31119 108.608 5.25652C108.608 7.20184 107.304 8.50563 105.617 8.50563ZM120 0.175907H112.83V10.3371H115.168L115.158 2.09019H119.99L120 0.175907Z"
            />
          </svg>
        </div>
      </a>
    </div>
    <button class="header__trigger" type="button">
      <span></span>
    </button>
    <nav class="header__nav header-nav">
      <ul class="header-nav__list">
        <!-- <li class="header-nav__item">
          <a href="#" class="header-nav__link">О компании</a>
        </li> -->
        <li class="header-nav__item">
          <a href="/solutions.html" class="header-nav__link">Решения</a>
        </li>
        <li class="header-nav__item">
          <a href="/integrating.html" class="header-nav__link">Опыт внедрений</a>
        </li>
        <!-- <li class="header-nav__item">
          <a href="#" class="header-nav__link">Блог</a>
        </li> -->
        <li class="header-nav__item">
          <a href="/contacts.html" class="header-nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__contacts contacts-menu">
      <ul class="contacts-menu__list">
        <li class="contacts-menu__item">
          <a href="tel:+88000000000" class="contacts-menu__link">8-800-000-00-00</a>
        </li>
        <li class="contacts-menu__item">
          <button class="contacts-menu__button" data-trigger-for="main-popup">
            Получить консультацию
          </button>
        </li>
      </ul>
    </div>

    <div class="header__dropdown">
      <div class="header__dropdown-inner">
        <div class="header__dropdown-menu">
          <nav class="header-nav">
            <ul class="header-nav__list">
              <!-- ?Не свестана страница -->
              <!-- <li class="header-nav__item">
                <a href="#" class="header-nav__link">О компании</a>
              </li> -->
              <li class="header-nav__item">
                <a href="/solutions.html" class="header-nav__link">Решения</a>
              </li>
              <li class="header-nav__item">
                <a href="/integrating.html" class="header-nav__link">Опыт внедрений</a>
              </li>
              <!-- ?Не свестана страница -->
              <!-- <li class="header-nav__item">
                <a href="#" class="header-nav__link">Блог</a>
              </li> -->
              <li class="header-nav__item">
                <a href="/contacts.html" class="header-nav__link">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="header__contacts contacts-menu">
            <ul class="contacts-menu__list">
              <li class="contacts-menu__item">
                <a href="tel:+88000000000" class="contacts-menu__link">8-800-000-00-00</a>
              </li>
              <li class="contacts-menu__item">
                <button class="contacts-menu__button" data-trigger-for="main-popup">
                  Получить консультацию
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
