<div id="main-popup" class="popup">
  <div class="popup__body">
    <div class="popup__inner">
      <div class="popup__content">
        <h3 class="popup__heading">Отправьте нам свое сообщение</h3>
        <form class="form" action="#" method="post">
          <div class="form__group form__group--name">
            <input
              class="form__input"
              placeholder=""
              type="text"
              id="popup-name"
              name="user_name"
            />
            <label class="form__label" for="popup-name">Ваше имя</label>
          </div>
          <div class="form__group form__group--phone">
            <input
              class="form__input"
              placeholder=""
              type="email"
              id="popup-phone"
              name="user_mail"
            />
            <label class="form__label" for="popup-phone">Телефон</label>
          </div>
          <div class="form__group form__group--textarea">
            <textarea
              class="form__textarea"
              placeholder=""
              id="popup-msg"
              name="user_message"
            ></textarea>
            <label class="form__label form__label--textarea" for="popup-msg">Комментарий</label>
          </div>
          <div class="form__group form__group--submit">
            <div class="form__label-checkbox checkbox-label">
              <label class="checkbox-label__container">
                <span class="checkbox-label__input">
                  <input class="checkbox-label__input" type="checkbox" />
                </span>
                <span class="checkbox-label__text">
                  Я выражаю свое согласие с Политикой конфиденциальности и разрешаю обработку своих
                  персональных данных
                </span>
              </label>
            </div>
            <button class="form__btn btn btn--md btn--bg-brand btn--underline" type="submit">
              Отправить
            </button>
          </div>
        </form>
      </div>
      <button class="popup__close modal-button">
        <span class="modal-button__icon">
          <span></span>
        </span>
      </button>
    </div>
  </div>
</div>
