.footer {
  display: flex;
  flex-direction: column;

  // .footer__item
  &__item {
    background-color: $black;
    &--bg-grey {
      background-color: rgb(59, 59, 59);
    }
  }

  // .footer__nav
  &__nav {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  // .footer__info
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(60px, 1fr) min-content min-content;
    grid-template-areas:
      'logo contacts'
      'privacy privacy'
      'rights rights ';
    row-gap: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 650px) {
      grid-template-rows: minmax(60px, 1fr) min-content;
      grid-template-areas:
        'logo contacts'
        'privacy rights';
    }
    @media (min-width: $md3) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: minmax(80px, 1fr) min-content min-content;
      grid-template-areas:
        'logo . . contacts'
        '. privacy privacy .'
        '. rights rights .';
      column-gap: 40px;
      row-gap: 0;
    }
  }

  // .footer__logo
  &__logo {
    grid-area: logo;
    .logo__img {
      height: 30px;
      width: 111px;
    }
    @media (min-width: $md4) {
      .logo__img {
        height: 32px;
        width: 120px;
      }
    }
  }

  // .footer__copyright
  &__copyright {
    grid-area: rights;
    display: grid;
    row-gap: 5px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: darken($white, 40%);
    @media (min-width: $md3) {
      justify-self: center;
    }
  }

  // .footer__copyright-item
  &__copyright-item {
    text-align: center;
    line-height: 1.2;
  }

  // .footer__privacy
  &__privacy {
    grid-area: privacy;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    @media (min-width: $md3) {
      justify-self: center;
      margin-bottom: 5px;
    }
  }

  // .footer__privacy-link
  &__privacy-link {
    color: darken($white, 40%);
    &:hover {
      color: $white;
    }
    @media (min-width: $md2) {
      &:focus-visible {
        outline: 3px solid #2473fb;
        outline-offset: 1px;
      }
    }
  }

  // .footer__contacts
  &__contacts {
    grid-area: contacts;
    & .contacts-menu__list {
      grid-auto-flow: row;
      justify-content: end;
      row-gap: 10px;
      @media (min-width: $md5) {
        grid-auto-flow: column;
        column-gap: 15px;
      }
    }
    & .contacts-menu__button {
      color: $white;
      &:hover {
        color: darken($white, 20%);
      }
    }
  }
}

/* Nav-footer */
.nav-footer {
  display: grid;
  grid-template-areas:
    'solutions'
    'about'
    'blog'
    'contacts';
  grid-template-columns: 1fr;
  row-gap: 32px;
  @media (min-width: $md6) {
    grid-template-areas:
      'solutions about'
      'blog contacts';
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
  @media (min-width: $md3) {
    grid-template-areas: 'solutions about blog contacts';
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
  }

  // .nav-footer__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: $md7) {
      &--solutions {
        grid-area: solutions;
      }
      &--about {
        grid-area: about;
      }
      &--blog {
        grid-area: blog;
      }
      &--contacts {
        grid-area: contacts;
      }
    }
  }

  // .nav-footer__heading
  &__heading {
    color: $white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .nav-footer__heading-link
  &__heading-link {
    color: inherit;
    @media (min-width: $md2) {
      &:hover {
        text-decoration: underline;
      }
      &:focus-visible {
        outline: 3px solid $accent;
        outline-offset: 2px;
      }
    }
  }

  // .nav-footer__link
  &__link {
    hyphens: auto;
    color: darken($white, 30%);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $md7) {
      font-size: 13px;
    }
    @media (min-width: $md2) {
      &:hover {
        color: $white;
      }
      &:focus-visible {
        outline: 3px solid $accent;
        outline-offset: 2px;
      }
    }
  }
}
