.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  transition: all 0.2s ease;
  &--theme-white {
    background-color: #fff;
    .header__content {
      border-bottom: 0;
    }
    .logo path {
      fill: #1e468a;
    }
    .header__trigger {
      span {
        background-color: $brand;
        &::before,
        &::after {
          background-color: $brand;
        }
      }
    }
    .header-nav__link {
      color: $black;
      &:hover,
      &:focus {
        color: lighten($black, 20%);
      }
    }
    .contacts-menu__link {
      color: $black;
      &:hover {
        color: lighten($black, 20%);
      }
    }
    .contacts-menu__button {
      color: $brand;
      &:hover,
      &:focus-visible {
        color: $black;
      }
    }
  }
  &--hide {
    transform: translateY(-100%);
  }

  // .header__content
  &__content {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.238);
    @media (max-width: $md2) {
      height: 60px;
    }
    @media (max-width: $md6) {
      justify-content: space-between;
    }
  }

  // .header__logo
  &__logo {
    .logo__img {
      height: 24px;
      width: 88px;
    }
    margin-right: 127px;
    @media (max-width: $md1) {
      margin-right: 40px;
    }
    @media (min-width: $md3) {
      .logo__img {
        height: 32px;
        width: 120px;
      }
    }
    @media (max-width: $md2) {
      position: relative;
      z-index: 2;
      margin-right: 75px;
    }
    @media (max-width: 625px) {
      margin-right: 30px;
    }
    @media (max-width: $md5) {
      margin-right: 18px;
    }
  }

  // .header__nav
  &__nav {
    display: none;
    @media (min-width: $md2) {
      display: block;
    }
  }

  // .header__contacts
  &__contacts {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px auto;
    & .contacts-menu__button {
      display: none;
      @media (min-width: $md4) {
        display: block;
      }
    }
  }

  // .header__dropdown
  &__dropdown {
    display: none;
    @media (max-width: $md2) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.609);
      &.active {
        display: block;
      }
    }

    // .header__dropdown .header-nav
    & .header-nav {
      // .header__dropdown .header-nav__list
      &__list {
        @media (max-width: $md2) {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-height: 100%;
          margin: 0;
        }
      }

      // .header__dropdown .header-nav__item
      &__item {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      // .header__dropdown .header-nav__link
      &__link {
        color: $white;
        font-size: 24px;
        line-height: 1.25;
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    // .header__dropdown .contacts-menu
    & .contacts-menu {
      display: block;

      // .header__dropdown .contacts-menu__list
      &__list {
        display: block;
      }

      // .header__dropdown .contacts-menu__item
      &__item {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        @media (max-width: $md4) {
          display: block;
        }
      }
      // .header__dropdown .contacts-menu__link
      &__link {
        font-size: 18px;
      }
      // .header__dropdown .contacts-menu__button
      &__button {
        font-size: 18px;
        display: block;
        color: $white;
      }
    }
  }

  // .header__dropdown-inner
  &__dropdown-inner {
    width: 100%;
    height: 100%;
    max-width: 392px;
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: $brand;
    background-image: url('../img/hero-img-1.jpg');
    background-image: image-set('../img/hero-img-1.webp' type('image/webp'));
    filter: grayscale(1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: $md5) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  // .header__dropdown-menu
  &__dropdown-menu {
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-content: start;
    row-gap: 60px;
    padding-bottom: 20px;
    height: 100%;
    overflow-y: auto;
    @media (min-width: $md7) {
      padding-top: 22px;
    }
  }

  // .header__trigger
  &__trigger {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 25px;
    height: 25px;
    background: 0 0;
    border: 0;
    user-select: none;
    span {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 2px;
      vertical-align: bottom;
      background-color: #fff;
      transition: background-color 0.3s 0.5s;
      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform-origin: 50% 50%;
        transition: top 0.3s 0.3s, transform 0.3s;
      }
      &::before {
        top: 7px;
      }
      &::after {
        top: -7px;
      }
    }
    &.active {
      span {
        background: 0 0;
        &::before,
        &::after {
          top: 0;
          transition: top 0.3s, transform 0.3s 0.5s;
        }
        &::before {
          transform: rotate3d(0, 0, 1, 45deg);
        }
        &::after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
    @media (min-width: $md5) {
      width: 34px;
      height: 34px;
    }
    @media (min-width: $md2) {
      display: none;
    }
  }
}

/* Header-nav */
.header-nav {
  // .header-nav__list
  &__list {
    @media (min-width: $md2) {
      display: grid;
      grid-auto-flow: column;
      column-gap: 28px;
    }
  }

  // .header-nav__item
  &__item {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: color 0.2s ease 0s;
    white-space: nowrap;
  }

  // .header-nav__link
  &__link {
    color: $white;
    @media (min-width: $md2) {
      &:hover {
        color: darken($white, 20%);
      }
      &:focus-visible {
        color: darken($white, 20%);
        outline: 3px solid $accent;
        outline-offset: 3px;
      }
    }
  }
}

/* Contacts-menu */
.contacts-menu {
  display: none;
  @media (min-width: 390px) {
    display: block;
  }

  // .contacts-menu__list
  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 4px;
    @media (min-width: $md4) {
      column-gap: 16px;
      align-items: center;
    }
    @media (min-width: $md2) {
      grid-auto-flow: row;
      row-gap: 5px;
    }
    @media (min-width: 1080px) {
      column-gap: 28px;
    }
    @media (min-width: $md1) {
      grid-auto-flow: column;
    }
  }

  // .contacts-menu__link
  &__link {
    font-weight: 700;
    font-size: 13px;
    color: $white;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;
    @media (min-width: $md2) {
      transition: color 0.2s ease;
      &:hover {
        color: darken($white, 20%);
      }
      &:focus-visible {
        outline: 3px solid $accent;
      }
    }
    @media (min-width: $md1) {
      outline-offset: 3px;
    }
  }

  // .contacts-menu__button
  &__button {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;
    @media (min-width: $md2) {
      transition: color 0.2s ease;
      &:hover {
        color: $white;
      }
      &:focus-visible {
        outline: 3px solid $accent;
      }
    }
    @media (min-width: $md1) {
      outline-offset: 3px;
    }
  }
}
